@use 'sass:math';

$breakpoints: (
    "desktop":640px,
    "br":500px,
    "table":815px,
);

$color-text: #404040;
$color-bg: #EDEFF2;
$color-main: #985E5B;

$font-famly-base: "游ゴシック", "Yu Gothic", Helvetica, Arial, sans-serif;

@mixin inner($mw: 800px, $w: percentage(math.div(560, 640))) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

@mixin mq($breakpoint) {
    @media(#{map-get($breakpoints,$breakpoint)}<=width) {
        @content;
    }
}

@mixin title-main() {
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    line-height: math.div(27, 18);
    font-weight: bold;

}

body {
    color: $color-text;
    font-size: 14px;
    line-height: math.div(24, 14);
    letter-spacing: #{math.div(100, 1000)}em;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: baseline;
}

/*common
----------*/
/*header
------------*/
.header {
    padding: 40px 0;
    text-align: center;

    &__inner {
        @include inner();
    }
}


/*index.html
--------------*/
/*mainvisual
---------------------*/
.mainvisual {
    padding: 350px 0 120px;
    background: url(../images/pic_main.png) no-repeat center/cover;
    color: #fff;
    margin-bottom: 100px;

    &__inner {
        @include inner();
    }

    &__title {
        font-size: 42px;
        line-height: math.div(60, 42);
        font-weight: bold;
        margin-bottom: 40px;
        /*<wbr>*/
        word-break: keep-all;



        // & span {
        //     display: inline-block;
        // }

        // @include mq(desktop) {
        //     br {
        //         display: none;
        //     }
        // }
    }

    &__lead {
        font-size: 18px;
        line-height: math.div(22, 18);
    }
}

/*concept
----------------*/
.concept {
    padding-bottom: 100px;

    &__inner {
        @include inner();
    }

    &__title {
        @include title-main();
    }

    &__content {
        display: grid;
        row-gap: 40px;
        text-align: center;

        & p {
            word-break: keep-all;
        }

        @include mq(br) {
            word-break: keep-all;
        }
    }


}

/*open
-------------*/
.open {
    padding-bottom: 100px;

    &__inner {
        @include inner();
    }

    &__title {
        @include title-main();
    }

    &__table {
        overflow: auto;

        table {
            width: 100%;
            min-width: 700px;
            /*border-collapse: collapse;
            when reset css is not used.*/
        }

        th {
            background-color: $color-bg;
        }

        th,
        td {
            padding: 15px;
            text-align: center;
            border: 1px solid #707070;
        }
    }

    &__tip {
        margin-top: 20px;

        @include mq(table) {
            display: none;
        }
    }
}

/*recruit
-----------------*/
.recruit {
    padding-bottom: 100px;

    &__inner {
        @include inner();
    }

    &__title {
        @include title-main();
    }
}

/*footer
----------*/
.footer {
    padding: 40px 0;
    background-color: $color-bg;
    text-align: center;


    &__inner {
        @include inner();
        display: grid;
        row-gap: 15px;

        @include mq(desktop) {
            grid-auto-flow: column;
            justify-content: space-between;
            align-items: center;
        }

    }



    &__logo {
        margin-left: auto;
        margin-right: auto;
    }

    &__copy {
        font-size: 12px;
        line-height: math.div(18, 12);
    }


}