@use 'sass:math';
$color-text: #31353B;
$color-main: #FF9900;
$color-accent: #F85A47;
$color-heading: #000;
$color-bg: #dbffff;
$font-family-base: Helvetica, Arial, sans-serif;

@mixin inner($mw: 1000px, $w: 88%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;

}

body {
    color: $color-text;
    font-family: $font-family-base;
    font-size: 15px;
    line-height: math.div(26, 15);
    letter-spacing: #{math.div(20, 1000)}em;

}

img {
    max-width: 100%;
    margin: auto;
    vertical-align: bottom;
}

/*
common
--------------*/
/*header*/
.header {
    padding: 50px 0 80px;

    &__inner {
        @include inner();
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 24px;
        line-height: math.div(24, 24);
        font-weight: bold;

        & a {
            transition: .2s;

            &:hover {
                color: $color-main;
            }
        }
    }
}

.post {
    &__category {
        font-size: 18px;
        font-weight: bold;
        line-height: math.div(30, 18);
        color: $color-main;
        letter-spacing: 0;
    }

    &__title {
        font-size: 48px;
        line-height: math.div(58, 48);
        font-weight: normal;
        margin: 20px 0 40px;

    }

    &__text-about {
        margin-top: 20px;
    }

}

.btn {
    display: block;
    width: 200px;
    color: #fff;
    padding: 20px 0;
    background-color: $color-accent;
    line-height: math.div(15, 15);
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    margin-top: 40px;
    transition: .2s;

    &:hover {
        background-color: $color-text;
    }

}



.btn-info {
    background-color: $color-main;
}

/*nav*/
.nav {

    &__list {
        display: grid;
        grid-auto-flow: column;
    }

    &__item {
        margin-left: 30px;
        font-weight: bold;
    }

    & a {
        transition: .2s;

        &:hover {
            color: $color-main;
        }
    }


    &__active {
        color: $color-main;
    }
}



/*main
-----------*/
/*office*/
.office {
    padding: 0 0 120px;

    &__inner {
        @include inner();
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        column-gap: percentage math.div(60, 1000);
    }


}

/*reviews*/
.reviews {

    &__inner {
        @include inner()
    }

    &__category {
        font-size: 18px;
        font-weight: bold;
        line-height: math.div(30, 18);
        color: $color-main;
        letter-spacing: 0;
        text-transform: uppercase;

    }

    &__title {
        font-size: 48px;
        line-height: math.div(58, 48);
        font-weight: normal;
        margin: 20px 0 40px;

    }

    &__list {
        display: grid;
        grid-template-columns: 470px 470px;
        column-gap: 60px;
        margin-bottom: 120px;
    }

    &__items {
        padding: 45px 40px;
        border: 1px solid $color-heading;
        border-radius: 20px;
    }

    & .card {
        &__info {
            display: grid;
            grid-template-columns: 48px 1fr;
            column-gap: 20px;
            margin-top: 80px;
        }

        &__name {
            font-weight: bold;
        }


    }
}

/*footer*/
.footer {
    padding: 100px 0;
    background-color: $color-bg;

    &__inner {
        @include inner();
        text-align: right;

    }

    &__nav {
        margin-bottom: 40px;

        .nav__list {
            justify-content: end;
        }
    }

    &__copy {
        font-size: 12px;
        line-height: math.div(26, 12);
        font-weight: bold;
    }
}

/*about.html*/
/*information*/
.information {
    padding: 0 0 120px;

    &__inner {
        @include inner();
    }

    &__category {
        font-size: 18px;
        font-weight: bold;
        line-height: math.div(30, 18);
        color: $color-main;
        letter-spacing: 0;
        text-transform: uppercase;
    }

    &__title {
        font-size: 48px;
        line-height: math.div(58, 48);
        font-weight: normal;
        margin: 20px 0 40px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 50px;
        margin-top: 60px;
    }
}

/*office*/
.office {
    &__list-about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 60px;
    }
}